/* Welcome.css */
.bg-logo {
  background-image: url('/logo/logo_contactLinks_4.webp');
  opacity: 0.07;
}

.fade-in {
  animation: fadeIn 2s ease-in forwards;
}

.scroll-text {
  animation: scrollText 5s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.floating-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.menu-button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #1a202c;
  border: 2px solid #1a202c;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  transform: translateY(20px);
}

.menu-button:hover {
  background-color: #1a202c;
  color: #fff;
}

.menu-button.fade-in-delay:nth-child(1) {
  animation: fadeInButtons 2s 0.5s forwards;
}

.menu-button.fade-in-delay:nth-child(2) {
  animation: fadeInButtons 2s 1s forwards;
}

.menu-button.fade-in-delay:nth-child(3) {
  animation: fadeInButtons 2s 1.5s forwards;
}

.menu-button.fade-in-delay:nth-child(4) {
  animation: fadeInButtons 2s 2s forwards;
}

@keyframes fadeInButtons {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
